body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #8052ec, #d161ff);
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    font-family: "Pacifico", cursive;
    font-weight: bolder;
}

#game {
    display: flex;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    margin: 0 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    font-size: 4em;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 20px;
    color: #d161ff;
}

.cell.winning-cell {
    background-color: rgb(0, 0, 0);
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #000000;
    color: #fff;
    border-radius: 20px;
    border: none; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.3s; 
}

#restart:hover {
    transform: scale(1.05); 
}

.message {
    width: 150px;
    text-align: center;
    font-size: 2em;
    color: #000000;
    font-family: "Pacifico", cursive;
}

#left-message {
    margin-right: 20px;
}

#right-message {
    margin-left: 20px;
}
